useDynLib(memshare, .registration = TRUE)
import(Rcpp)
export(registerVariables)
export(retrieveViews)
export(releaseViews)
export(releaseVariables)
export(retrieveMetadata)
export(memApply)
export(memLapply)
export(pageList)
export(viewList)
export(mutualinfo)
export(memshare_gc)
importFrom("utils", "packageVersion")
importFrom("stats", "fft", "sd")
